.footer {
  margin-top: auto;
  /* height: 100px; */
  /* width: 100px; */
  margin-top: 30px;
  background-color: #234f66;
}

.footer-header {
  font-size: larger;
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 600px) {
  .footer-header {
    font-size: medium;
    font-weight: 200;
  }
}
